﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - T7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/T7.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">T7</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - T7 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const danhSachSanPhamElement = document.getElementById('danhSachSanPham');

        // Hàm để tạo phần tử sản phẩm và thêm vào danh sách
        function createProductCard(product) {
            const productCardElement = document.createElement('div');
            productCardElement.classList.add('col');

            // Tạo phần tử card
            productCardElement.innerHTML = `
            <div class="card">
                <img src="https://picsum.photos/id/684/600/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">${product.name}</h5>
                        <p class="card-text">${product.description}</p>
                        <p class="card-text">Giá: ${product.price}</p>
                        <a href="#" class="btn btn-primary">Mua Ngay</a>
                    </div>
            </div>
            `;

            return productCardElement;
        }

        // Fetch dữ liệu từ API và xử lý
        fetch('http://localhost:5100/api/products')
            .then(response => response.json())
            .then(products => {
                // Xóa nội dung cũ trong danhSachSanPhamElement
                danhSachSanPhamElement.innerHTML = '';

                // Duyệt qua danh sách sản phẩm và thêm vào danhSachSanPhamElement
                products.forEach(product => {
                    const productCardElement = createProductCard(product);
                    danhSachSanPhamElement.appendChild(productCardElement);
                });
            })
            .catch(error => console.error('Error:', error));
    </script>   
</body>
</html>
