﻿@model IEnumerable<T7.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    const danhSachSanPhamElement = document.getElementById('danhSachSanPham');

    // Hàm để tạo phần tử sản phẩm và thêm vào danh sách
    function createProductCard(product) {
        const productCardElement = document.createElement('div');
        productCardElement.classList.add('col');

        // Tạo phần tử card
        productCardElement.innerHTML = `
                <div class="card">
                    <img src="https://picsum.photos/id/684/600/400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">${product.name}</h5>
                            <p class="card-text">${product.description}</p>
                            <p class="card-text">Giá: ${product.price}</p>
                            <a href="#" class="btn btn-primary">Mua Ngay</a>
                        </div>
                </div>
                `;

        return productCardElement;
    }
    // Fetch dữ liệu từ API và xử lý
    fetch('http://localhost:5107/api/products')
        .then(response => response.json())
        .then(products => {
            // Xóa nội dung cũ trong danhSachSanPhamElement
            danhSachSanPhamElement.innerHTML = '';

            // Duyệt qua danh sách sản phẩm và thêm vào danhSachSanPhamElement
            products.forEach(product => {
                const productCardElement = createProductCard(product);
                danhSachSanPhamElement.appendChild(productCardElement);
            });
        })
        .catch(error => console.error('Error:', error));
</script>
